.sidebar{
  background-color: #0e1e25;
}
 
.sidebar-list-group-item {
  padding: 10px;
  cursor: pointer;
  background-color: inherit;
  border-radius: 3px;

  &:hover{
    background-color: rgba(200, 200, 200, 0.2);
    transition: all 300ms linear;
  }
    
  &.active{
    margin-top: 0px;
    background-color: #00acc1;
    box-shadow: 0 12px 20px -10px rgba(0, 172, 193,.28), 0 4px 20px 0 rgba(0, 0, 0,.12), 0 7px 8px -5px rgba(0, 172, 193,.2);
  }
}
