@import '../../node_modules/bootstrap/scss/bootstrap';
@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';

@import './variables.scss';
@import '~toastr/toastr.scss';

body {
  font-weight: 300;
  color: #ccc;
  background-color: #0e1e25;
}

div#__next{
  height: 100%;
}

.c-pointer{
  cursor: pointer;
}

.margin-wide-display{
  max-width: 1240px;
}
