@import '../../node_modules/bootstrap/scss/bootstrap';
@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import 'emoji-mart/css/emoji-mart.css';

$theme-colors: (
  'primary': $purple,
  'secondary': $secondary,
  'success': $success,
  'info': $info,
  'warning': $warning,
  'danger': $danger,
  'light': $light,
  'dark': $dark,
  'indigo': $indigo,
  'purple': $purple,
  'pink': $pink,
  'orange': $orange,
  'teal': $teal,
);

@import '../../node_modules/bootstrap/scss/_buttons';
@import '../../node_modules/bootstrap/scss/mixins';
@import '../../node_modules/react-loader-spinner/dist/loader/css/react-spinner-loader.css';

@import '~toastr/toastr.scss';

@import './override.scss';

@import './customUtility.scss';

body {
  font-weight: 300;
  color: #ccc;
  background-color: #0e1e25;
}

.webev-container {
  /* 画面全体からNavbarとFooterの高さを引く */
  min-height: calc(100vh - 100px - 100px);
}

#toast-container {
  @include media-breakpoint-down(md) {
    left: 0;
    width: 100%;
    padding: 0 5%;
    .toast {
      width: 100%;
    }
  }
}
