@import '../../node_modules/bootstrap/scss/bootstrap';
@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';

$theme-colors: (
  'primary':    $primary,
  'secondary':  $secondary,
  'success':    $success,
  'info':       $info,
  'warning':    $warning,
  'danger':     $danger,
  'light':      $light,
  'dark':       $dark,
  'indigo':     $indigo,
  'purple':     $purple,
  'pink':       $pink,
  'orange':     $orange,
  'teal':       $teal,
);

@import '../../node_modules/bootstrap/scss/_buttons';
@import '../../node_modules/bootstrap/scss/mixins';
  
@import './variables.scss';
@import '~toastr/toastr.scss';

body {
  font-weight: 300;
  color: #ccc;
  background-color: #0e1e25;
}

main{
  max-width: 1240px;
}

.c-pointer{
  cursor: pointer;
}

#toast-container{
  @include media-breakpoint-down(md){
    left:0;
    width: 100%;
    padding: 0 5%;
    .toast{
      width: 100%;
    } 
  }
}
