.webev-anchor {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.webev-limit-2lines {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
