name: Create Release

on:
  pull_request:
    types: [closed]
    branches:
      - release

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@master
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.event.pull_request.title }}
          release_name: ${{ github.event.pull_request.title }}
          body: ${{ github.event.pull_request.body }}
          draft: false
          prerelease: false

      - name: Slack Notification
        uses: weseek/ghaction-release-slack-notification@master
        with:
          channel: '#webev-release'
          url: ${{ secrets.SLACK_WEBHOOK_URL }}
          created_tag: '${{ github.event.pull_request.title }}'

      - name: Twitter Notification
        uses: mugi111/tweet-trigger-release@v1.2
        with:
          consumer_key: ${{ secrets.CONSUMER_KEY }}
          consumer_secret: ${{ secrets.CONSUMER_SECRET }}
          access_token_key: ${{ secrets.ACCESS_TOKEN_KEY }}
          access_token_secret: ${{ secrets.ACCESS_TOKEN_SECRET }}
          tweet_body: "Webev をリリースしました！ https://github.com/itizawa/webev-front/releases/tag/${{ github.event.pull_request.title }} お試しはこちらから → https://webev.cloud/ja #Webev"
